@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  a.active-navbar {
    @apply text-white bg-primary pt-4 text-lg  pb-1 px-4 flex flex-row
  }

  a.active-navbar>span {
    @apply animate-menuText
  }

  a.navbar {
    @apply text-primary text-lg pt-4 pb-1 px-4 mx-4 flex flex-row
  }
  a.navbar, a.active-navbar span{
    @apply text-end self-end
  }
  .contact-icons {
    @apply rounded-full border-solid border border-primary w-10 h-10 p-3 text-primary hover:bg-primary hover:text-white transition transform duration-700
  }
  .btn-icons-connect {
    @apply p-3 text-primary text-5xl hover:bg-primary hover:text-white rounded-full transition transform duration-700
  }
  .btn-icons-contact {
    @apply text-2xl text-primary
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Exo', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
